$dark-90: rgba(26, 29, 37, 0.9);
$sickly-yellow: #dde42d;
$dark: #272d36;
$darker: #1a1d25;
$darkest: #141922;
$dark-muted: #575845;
$piss-yellow: #cdd11c;
$white: #ffffff;
$baby-puke-green: #bccf02;
$slate-grey: #525864;
$brownish-grey: #686868;
$pea: #b3c221;
$off-yellow: #e5ec38;
$dirty-green: #84872f;
$error: #EA7250;
$font-weight-black: 900;
$font-weight-light: 300;
$font-weight-semibold: 700;

$baseline-size: 16px;
$font-hero-header: 40px;
$font-big-header: 26px;
$font-normal-header: 22px;
$font-big-paragraph: 19px;
$font-normal-paragraph: 17px;
$font-small-paragraph: 13px;
