$dark-90: rgba(26, 29, 37, 0.9);
$sickly-yellow: #dde42d;
$dark: #272d36;
$darker: #1a1d25;
$darkest: #141922;
$piss-yellow: #cdd11c;
$white: #ffffff;
$baby-puke-green: #bccf02;
$slate-grey: #525864;
$brownish-grey: #686868;
$pea: #b3c221;
$off-yellow: #e5ec38;
$dirty-green: #84872f;