@import 'bootstrap';
@import 'animate';
@import 'guideline';
@import 'mixins';

body {
  background-color: $white;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: $darker;
}

a {
  color: $darker;
}

h1 {
  font-size: 2.8em;
  margin-top: 2.3em;
  margin-bottom: 2.4em;
}

.center {
  text-align: center;
}

.fat {
  font-weight: $font-weight-black;
}

.btn {
  &:hover {
    @extend .animated;
    @extend .swing;

    -webkit-animation-duration: 0.75s !important;
    animation-duration: 0.75s !important;
  }
}

.btn-green {
  text-transform: uppercase;
  font-weight: $font-weight-black;
  @include button-variant($darker, $piss-yellow, $piss-yellow);

  &:hover, &:active {
    background-color: lighten($piss-yellow, 3%);
  }
}

.btn-blue {
  text-transform: uppercase;
  font-weight: $font-weight-black;
  @include button-variant($white, $darkest, $darkest);
}

.btn-green-border {
  text-transform: uppercase;
  font-weight: $font-weight-black;
  @include button-variant($white, transparent, $piss-yellow);
}

.navbar.navbar-inverse  {
  min-height:104px !important;
  margin-bottom: 0px;
  border: 0px;
  background-color: $darkest;

  .navbar-brand {
    padding-top: 31px;
  }

  .navbar-nav {
    float: right;
    padding-top: 30px;
    
    li {
      a {
        color: $white;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 1em;
        padding-left: 2em;
        padding-right: 2em;

        &:hover {
          color: $white;

        background-color: transparent;
        }
      }

      &.active a {
        color: $sickly-yellow;
        background-color: transparent;
      }
    }
  } 
}

.footer {
  background-color: $darkest;
  color: $slate-grey;
  font-size: 14px;
  height: 117px;
  text-align: center;
  width: 100%;
  display: block;
  position: relative;

  ul.nav {
    display: inline-block;
    float: none;

    li {
      a {
        padding: 0px;

        &:hover, &:active, &.active {  
          background-color: transparent;
        }
      }

      margin-right: 54px;

      &:last-child {
        margin-right: 0px;
      }
    }

    li.link {
      display: inline-block;
      background-color: transparent;
      vertical-align: middle;

      a {
        color: $slate-grey;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 117px;
        vertical-align: middle;
        @include transition(color 0.2s ease 0s);
  
        &:hover, &:active, &.active {  
          color: lighten($slate-grey, 20%);
          @include transition(color 0.2s ease 0s);
        }
      }
    }
  }

  .logo {
    margin-top: 42px;

  }
}

@import 'pages/index';