@import 'bootstrap';
@import 'animate';
@import 'guideline';
@import 'mixins';

body {
  background-color: $white;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: $darker;
  width: 100%;
  height: 100%;
}

.body-wrapper {
  position: relative;
  //overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.side {
  position: fixed;
  z-index: 2005;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $piss-yellow;
  overflow: hidden;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  transition-property: transform;

  .close-side.cross.close {
    text-align: right;
    font-size: 60px;
    margin: 20px;
    line-height: 40px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    color: darken($piss-yellow, 10%); 
    opacity: 1;
    text-shadow: none;
    @include transition(color 0.2s ease 0s);
  
    &:hover, &:active, &.active {  
      color: darken($piss-yellow, 20%);
      opacity: 1;
      @include transition(color 0.2s ease 0s);
    }
  }

  h1 {
    font-size: 46px;
    margin-top: 1.5em;
    margin-bottom: 60px;
  }

  p {
    margin-top: 0px;
    text-align: center;
    max-width: 680px;
    font-size: 21px; 
    margin: 0 auto;
  }

  form {
    margin-top: 50px;

    label {
       @extend .fat;
       font-size: 21px;
       line-height: 62px;
    }

    .info {
      text-align: left;
      font-style: italic;
      font-size: 17px;
      color: #23282f;
      opacity: 0.5;
      margin-top: 10px;
    }

    .form-group {
      margin-top: 45px;
    }

    input, select {
      width: 520px;
      height: 75px;
      placeholder-color: #23282f;
      font-size: 19px;
      text-indent: 25px;
      box-shadow: none;

      &:focus {
        border-color: darken(#cdd11c, 10%);
        box-shadow: none;
      }
    }

    select option {
      text-indent: 25px;
    }

    .buttons {
      margin-top: 65px;

      .btn {
        width: 260px;
        padding: 23px;
        font-size: 17px;
      }

      .left .btn {
        float: right;
      }

      .right .btn {
        float: left;
      }
    }
  }
}

.main, .side {
  transition-duration: 0.32s;
  transition-timing-function: ease;
}

.show-sidebar .main {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.show-sidebar .side {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

a {
  color: $darker;
}

h1 {
  font-size: 2.8em;
  margin-top: 2.3em;
  margin-bottom: 2.4em;
}

.center {
  text-align: center;
}

.fat {
  font-weight: $font-weight-black;
}

strong {
  font-weight: bold;
}

.btn {
  &, &:active {
    box-shadow: none !important;
  }

  &.shake:hover {
    @extend .animated;
    @extend .swing;

    -webkit-animation-duration: 0.75s !important;
    animation-duration: 0.75s !important;
  }
}

.btn-green {
  text-transform: uppercase;
  font-weight: $font-weight-black;
  @include button-variant($darker, $piss-yellow, $piss-yellow);

  &:hover, &:active, &:focus {
    background-color: lighten($piss-yellow, 3%);
  }

  &:hover:active {
    background-color: darken($piss-yellow, 3%); 
  }
}

.btn-blue {
  text-transform: uppercase;
  font-weight: $font-weight-black;
  @include button-variant($white, $darkest, $darkest);
  
  &:hover:active {
    background-color: darken($darkest, 2%); 
  }
}

.btn-none-blue {
  text-transform: uppercase;
  font-weight: $font-weight-black;
  @include button-variant($darkest, transparent, transparent);
}

.btn-green-border {
  text-transform: uppercase;
  font-weight: $font-weight-black;
  @include button-variant($white, transparent, $piss-yellow);

  &:hover:active {
    background-color: darken($darkest, 2%); 
  }
}



.navbar.navbar-inverse  {
  min-height:104px !important;
  margin-bottom: 0px;
  border: 0px;
  background-color: $darkest;

  .navbar-brand {
    padding-top: 31px;
  }

  .navbar-nav {
    float: right;
    padding-top: 30px;
    
    li {
      a {
        color: $white;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 1em;
        padding-left: 2em;
        padding-right: 2em;

        &:hover {
          color: $white;

        background-color: transparent;
        }
      }

      &.active a {
        color: $sickly-yellow;
        background-color: transparent;
      }
    }
  } 
}

.footer {
  background-color: $darkest;
  color: $slate-grey;
  font-size: 14px;
  height: 117px;
  text-align: center;
  width: 100%;
  display: block;
  position: relative;

  ul.nav {
    display: inline-block;
    float: none;

    li {
      a {
        padding: 0px;

        &:hover, &:active, &.active {  
          background-color: transparent;
        }
      }

      margin-right: 54px;

      &:last-child {
        margin-right: 0px;
      }
    }

    li.link {
      display: inline-block;
      background-color: transparent;
      vertical-align: middle;

      a {
        color: $slate-grey;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 117px;
        vertical-align: middle;
        @include transition(color 0.2s ease 0s);
  
        &:hover, &:active, &.active {  
          color: lighten($slate-grey, 20%);
          @include transition(color 0.2s ease 0s);
        }
      }
    }
  }

  .logo {
    margin-top: 42px;

  }
}

@import 'pages/home';
@import 'pages/offer';
@import 'pages/testimonials';
@import 'pages/contact';