$input-height-large: 70px;

@import 'bootstrap';
@import 'animate';
@import 'guideline';
@import 'mixins';
@import 'toast';

@-ms-viewport{
  width: device-width;
}

body {
  background-color: $white;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: $font-normal-paragraph;
  line-height: 2 * $baseline-size;
  color: $darker;
  width: 100%;
  height: 100%;

  &.side-open {
    overflow: hidden;
  }
}

.bosdy-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.spinner {
  position: absolute;
  background-color: $darkest;
  top: 104px;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 10000;
  pointer-events: none;
  @include transition(opacity 0.3s ease 0s);

  @media (max-width: $screen-sm-max) {
    top: 70px !important;
  }
  &.on {
    @include transition(opacity 0s ease 0s);
    opacity: 1;
  }

  img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
  }
}

.ng-toast {
  .alert {
    &.alert-success {
      border: 1px solid darken($sickly-yellow, 10%) !important;
      margin-top: 110px;
      background-color: $sickly-yellow !important;
      color: $darker !important;
    }
  }
}

.main {
  position: relative;
  padding-top: 6 * $baseline-size;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;

  @media (max-width: $screen-sm-max) {
    padding-top: 4 * $baseline-size;
  }
}

.side {
  display: block;
  position: fixed;
  z-index: 2005;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $piss-yellow;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition-property: transform;

  .close-side.cross.close {
    text-align: right;
    font-size: 60px;
    margin: 20px;
    line-height: 40px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    color: darken($piss-yellow, 10%);
    opacity: 1;
    text-shadow: none;
    @include transition(color 0.2s ease 0s);

    &:hover, &:active, &.active {
      color: darken($piss-yellow, 20%);
      opacity: 1;
      @include transition(color 0.2s ease 0s);
    }
  }

  h1 {
    margin-top: 3 * $baseline-size;
    margin-bottom: 2 * $baseline-size;
  }

  p {
    margin-top: 0px;
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
  }

  form {
    margin-top: 2 * $baseline-size;
    margin-bottom: 2 * $baseline-size;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    padding: 2 * $baseline-size 2 * $baseline-size;
    border-radius: 10px;
    max-width: 1000px;

    @media (max-width: $screen-xs-max) {
      padding-top: 1 * $baseline-size;
      padding-bottom: 0 * $baseline-size;
    }

    .form-group {
      margin-top: 2 * $baseline-size;

      .glyphicon {
        opacity: 0;
        @include transition(opacity 0.3s ease 0s);
      }

      &.has-error {

        label {
          color: $darker;
        }

        input, select {
          border-color: $error;
          @include transition(border-color 0.3s ease 0s);
        }

        .glyphicon {
          @extend .glyphicon-remove;
          color: $error;
          font-size: 18px;
          opacity: 1;
          @include transition(opacity 0.3s ease 0s);
        }

        .info.error {
          color: $error;
          opacity: 1;
        }
      }

      &.has-success {
        label {
          color: $darker;
        }

        input, select {
          border-color: darken($sickly-yellow, 10%);
          box-shadow: none;
          @include transition(border-color 0.3s ease 0s);
        }

        .glyphicon {
          @extend .glyphicon-ok;
          color: darken($sickly-yellow, 10%);
          font-size: 18px;
          opacity: 1;
          @include transition(opacity 0.3s ease 0s);
        }
      }
    }

    label {
       @extend .fat;
       line-height: 3 * $baseline-size;
    }

    .info {
      font-size: $font-small-paragraph;
      text-align: left;
      font-style: italic;
      color: #23282f;
      opacity: 0.5;
      margin-top: 0.5 * $baseline-size;
      line-height: 1.5 * $baseline-size !important;

      span {
        line-height: 1.5 * $baseline-size !important;
      }
    }

    input, select {
      placeholder-color: #23282f;
      font-size: $font-normal-paragraph;
      height: 4 * $baseline-size !important;
      text-indent: 1 * $baseline-size;
      box-shadow: none !important;
      @include transition(border-color 0.3s ease 0s);

      &:focus {
        border-color: darken($darker, 10%);
        box-shadow: none;
      }
    }

    input[type=submit] {
      text-indent: 0px;
    }

    select option {
      text-indent: 1 * $baseline-size;
    }

    .unavailable {
      .alert {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 800px;
        margin: 0 auto;
      }
    }

    .buttons {
      margin-top: 3 * $baseline-size;

      .btn {
        padding: 15px 75px 10px 30px;
      }

      .btn-none-blue {
        padding: 25px 45px 25px 45px;
      }

      .btn-blue {
        @include transition(all 0.3s ease 0s);

        &[disabled] {
          padding-left: 50px;
          padding-right: 80px;
          @include transition(all 0.3s ease 0s);

          img {
            opacity: 1;
            @include transform(translate(0%, 0%));
            @include transition(all 0.3s ease 0s);
          }
        }

        span {
          vertical-align: middle;
          margin-bottom: -2px;
          padding-left: 5px;
          padding-left: 5px;
        }

        img {
          opacity: 0;
          @include transform(translate(100%, 0%));
          @include transition(all 0.3s ease 0s);
        }
      }

      .btn {
        min-width: 220px;
      }

      @media (max-width: $screen-xs-max) {
        .btn {
          width: 100%;
        }
      }

      @media (min-width: $screen-sm-min) {
        .left .btn {
          float: right;
        }

        .right .btn {
          float: left;
        }
      }
    }
  }
}

.main {
  width: 100%;
  height: 100%;

}

.main, .side {
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.side-open .main {
  -webkit-transform: translate3d(-40%, 0, 0);
  transform: translate3d(-40%, 0, 0);
}

.side-open .side {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

a {
  color: $darker;
}

h1 {
  font-size: $font-hero-header;
  line-height: 3 * $baseline-size;
  margin-top: 0;
  margin-bottom: 1 * $baseline-size;

  span {
    font-size: $font-hero-header;
  }
}

h2 {
  font-size: $font-big-header;
  line-height: 2 * $baseline-size;
  margin-top: 0;
  margin-bottom: 1 * $baseline-size;

  span {
    font-size: $font-big-header;
  }
}

h3 {
  font-size: $font-normal-header;
  line-height: 2 * $baseline-size;
  margin-top: 0;
  margin-bottom: 1 * $baseline-size;
}

p, span, label, ul li, a, button, .btn {
  font-size: $font-normal-paragraph;
  line-height: 2 * $baseline-size;
  margin-top: 0;
  margin-bottom: 1 * $baseline-size;

  &.big-paragraph {
    font-size: $font-big-paragraph;
    line-height: 2 * $baseline-size;
  }

  &.small-paragraph {
    font-size: $font-small-paragraph;
    line-height: 1 * $baseline-size;
  }
}

.center {
  text-align: center;
}

.fat {
  font-weight: $font-weight-black;
}

strong {
  font-weight: bold;
}

ul.dotted {
  display: inline-block;
  list-style-image: url('/images/list-disc.png');

  li {
    text-align: left;
    padding-left: 0.7em;
    margin-bottom: 0.3em;
  }
}


.btn {
  &, &:active {
    box-shadow: none !important;
  }

  &.shake:hover {
    @extend .animated;
    @extend .swing;

    -webkit-animation-duration: 0.75s !important;
    animation-duration: 0.75s !important;
  }
}

.btn-green {
  text-transform: uppercase;
  font-weight: $font-weight-black;
  @include button-variant($darker, $piss-yellow, $piss-yellow);

  &:hover, &:active, &:focus {
    background-color: lighten($piss-yellow, 3%);
    border-color: lighten($piss-yellow, 3%);
  }

  &:hover:active {
    background-color: darken($piss-yellow, 3%);
    border-color: darken($piss-yellow, 3%);
  }
}

.btn-blue {
  text-transform: uppercase;
  font-weight: $font-weight-black;
  @include button-variant($white, $darkest, $darkest);

  &:hover:active {
    background-color: darken($darkest, 2%);
  }
}

.btn-none-blue {
  text-transform: uppercase;
  font-weight: $font-weight-black;
  @include button-variant($darkest, transparent, transparent);
}

.btn-green-border {
  text-transform: uppercase;
  font-weight: $font-weight-black;
  @include button-variant($white, transparent, $piss-yellow);
  @include transition(all 0.1s ease 0s);

  &:hover {
    color: $darkest;
    border-color: $piss-yellow;
    background-color: $piss-yellow;
  }

  &:hover:active {
    color: $darkest;
    border-color: darken($piss-yellow, 4%);
    background-color: darken($piss-yellow, 4%);
  }

  &.active {
    color: $darkest;
    border-color: $piss-yellow;
    background-color: $piss-yellow;

    &:hover {
      color: $darkest;
      border-color: $piss-yellow;
      background-color: $piss-yellow;
    }

    &:hover:active {
      color: $darkest;
      border-color: darken($piss-yellow, 4%);
      background-color: darken($piss-yellow, 4%);
    }
  }
}

.btn-blue-border {
  text-transform: uppercase;
  font-weight: $font-weight-black;
  @include button-variant($darker, transparent, $darker);
  @include transition(all 0.1s ease 0s);

  &:hover {
    color: $white;
    border-color: $darker;
    background-color: $darker;
  }

  &:hover:active {
    color: $white;
    border-color: darken($darker, 4%);
    background-color: darken($darker, 4%);
  }
}

.navbar {
  min-height:104px !important;
  margin-bottom: 0px;
  border: 0px;
  background-color: $white;
  @include transition(all 0.3s ease 0s);

  @media (max-width: $screen-sm-max) {
    min-height: 70px !important;
  }

  .navbar-brand {
    margin-top: 10px;

    @media (max-width: $screen-sm-max) {
      margin: 10px 15px 15px 15px;
      padding: 0px;
    }

    img {
      margin: 0 auto;
      display: inline-block;
    }
  }

  .navbar-toggle {
    margin-top: 20px;
    border-color: $sickly-yellow;

    .icon-bar {
      margin-bottom: 0;
    }

    &:active {
      background-color: $sickly-yellow;
    }
  }



  .navbar-nav {
    float: right;
    padding-top: 30px;

    @media (max-width: $screen-sm-max) {
      padding-top: 10px;
      padding-right: 20px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      padding-top: 15px;
    }

    li {
      margin-bottom: 0;

      @media (max-width: $screen-sm-max) {
        text-align: right;
      }

      a {
        font-size: $font-small-paragraph;
        letter-spacing: 2px;
        margin-bottom: 0;
        color: $darker;
        background-color: transparent;
        text-transform: uppercase;
        padding-left: 2em;
        padding-right: 2em;
        @include transition(all 0.3s ease 0s);

        @media (max-width: $screen-md-max) {
          padding-left: 15px;
          padding-right: 15px;
        }

        &:hover {
          background-color: transparent;
        }
      }

      &.active a {
        color: darken($sickly-yellow, 15%);
        background-color: transparent;
      }

      .facebook {
        font-size: 38px;
        padding-left: 10px;
        padding-right: 25px;
        padding-top: 3px;
        padding-bottom: 10px;

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          display: none;
        }
      }

      .phone {
        margin-left: 50px;
        display: inline-block;
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 0px;

        @media (max-width: $screen-md-max) {
          margin-left: 15px;
        }

        @media (max-width: $screen-sm-max) {
          padding-right: 15px;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          display: none;
        }

        img {
          width: 16px;
          vertical-align: middle;
        }

        span {
          color: $sickly-yellow;
          font-size: $font-normal-paragraph;
          line-height: $baseline-size;
          letter-spacing: 1px !important;
          margin-left: 18px;
          vertical-align: middle;
        }
      }
    }
  }

  &.navbar-inverse {
    background-color: $darkest !important;

    .navbar-brand {
      background-image: none;
    }

    .navbar-nav {
      li {
        a {
          color: $white;

          &:hover {
            color: $white;
          }
        }

        &.active a {
          color: $sickly-yellow;
          background-color: transparent;
        }
      }
    }
  }
}

.footer {
  background-color: $darkest;
  color: $slate-grey;
  text-align: center;
  width: 100%;
  display: block;
  position: relative;
  padding-top: 2 * $baseline-size;
  padding-bottom: 1 * $baseline-size;

  ul.nav {
    display: inline-block;
    float: inherit;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 0px;

    li {
      margin-bottom: 1 * $baseline-size;

      a {
        margin-bottom: 0;
        padding: 0px;

        &:hover, &:active, &.active, &:focus {
          background-color: transparent;
        }
      }

      margin-right: 54px;

      @media (max-width: $screen-sm-max) {
        margin-left: 10px;
        margin-right: 10px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }

    li.link {
      vertical-align: middle;
      display: inline-block;
      background-color: transparent;

      a {
        @extend .small-paragraph;
        color: $slate-grey;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 41px;
        vertical-align: middle;
        @include transition(color 0.2s ease 0s);

        &:hover, &:active, &.active {
          color: lighten($slate-grey, 20%);
          @include transition(color 0.2s ease 0s);
        }
      }
    }
  }

  .logo {
  }

}

@import 'pages/home';
@import 'pages/about';
@import 'pages/offer';
@import 'pages/testimonials';
@import 'pages/contact';
