#page-about
  section.few-words
    .wrapper
      h1.fat.center Kilka słów o mnie
      ul.dotted
        li aktywny zawodowo nauczyciel matematyki w zespole szkół składającym się z gimnazjum i liceum
        li egzaminator maturalny Okręgowej Komisji Egzaminacyjnej w Gdańsku
        li absolwent Politechniki Gdańskiej, ukończonej ze złotą odznaką za celujące wyniki w nauce
        li doświadczenie pracy wychowawczej w klubie młodzieżowym
        li wieloletni wychowawca klasy
        li ukończony kurs Socjoterapii i Pomocy Psychologicznej
        li uczestnik wielu szkoleń z zakresu pracy z grupą i prowadzenia dialogu z uczniem 
        li prywatnie szczęśliwy mąż i ojciec dwóch córeczek, fan muzyki rockowej, kibic sportowy, pasjonat turystyki tatrzańskiej, gotujący dla odprężenia   

  section.method
    h1.fat.center Metoda nauczania
    .pillar.container-fluid 
      .row
        .col-md-offset-1.col-md-10
          p Na przestrzeni lat bazując na własnym doświadczeniu wypracowałem metodę, która daje świetne rezultaty, angażując ucznia i jednocześnie pozwalając mu szybko przyswajać wiedzę. Oparta jest ona na 5 filarach:
    .pillar.container-fluid 
      .row
        .col-md-1
          .icon
            img(src="/images/method-1.png")
        .col-md-10
          .desc
            h4 Odniesienie sukcesu na każdych zajęciach
            p Lubimy to co nam wychodzi. Dzięki odpowiedniemu doborowi zadań staram się, aby uczeń wychodził z lekcji z doświadczeniem sukcesu i wiary w swoje matematyczne możliwości.
    .pillar.container-fluid 
      .row
        .col-md-1
          .icon
            img(src="/images/method-2.png")
        .col-md-10
          .desc
            h4 Samodzielna praca
            p O matematyce można czytać, słuchać, matematykę można rozumieć, kiedy ktoś inny rozwiązuje zadania. Jednak matematyki najskuteczniej nauczyć się samodzielnie rozwiązując problemy. Dlatego na zajęciach uczniowie w większości pracują samodzielnie pod moim kierunkiem.
    .pillar.container-fluid 
      .row
        .col-md-1
          .icon
            img(src="/images/method-3.png")
        .col-md-10
          .desc
            h4 Metody aktywizujące
            p Co dwie głowy to nie jedna. Są to metody, które mają za zadanie usprawnić procesy nauki dzięki współpracy w grupie. 
    .pillar.container-fluid 
      .row
        .col-md-1
          .icon
            img(src="/images/method-4.png")
        .col-md-10
          .desc
            h4 Pomoce dydaktyczne
            p Modele figur geometrycznych, interaktywne plansze, gry edukacyjne i inne. Problemem w nauce matematyki często bywa jej abstrakcyjność, dlatego zaproponuję swoim uczniom korzystanie z tego co mogą dotknąć, poczuć, a wtedy lepiej zrozumieć.
    .pillar.container-fluid 
      .row
        .col-md-1
          .icon
            img(src="/images/method-5.png")
        .col-md-10
          .desc
            h4 Konstruktywny dialog z uczniem.  
            p Uczeń jest dla mnie ważny. On jest istotą moich zajęć. Rozmawiając z nim staram się, aby to czuł. Wiem, że moje słowa mogą podciąć mu skrzydła lub wręcz odwrotnie, pozwolić mu je rozwinąć. Moim zadaniem jest motywować ucznia, by działo się to drugie.
            
  section.see-testimonials
    .container-fluid 
      .row
        .col-md-12
          h2 Zastanawiasz się czy moje metody są skuteczne?
          a.btn.btn-blue-border(ui-sref='pages.testimonials') Zobacz co mówią inni
