#page-contact
  section.contact-me
    h1.center 
      | Skontaktuj się 
      span.fat bezpośrednio ze mną
    .dark-wrapper
      .btn.btn-green Zapisz się przez Internet
      span.or-call lub zadzwoń
      .phone-no
        .fa.fa-phone
        span +48 606123455
  section.where
    .container
      .row
        .col-md-4
          h3 Dane firmy
          .company-data
            p Bartosz Demiańczuk
            p ul. Leśna 128/23
            p Gdynia
            p.margin telefon: +48606123455
            p email: kontakt@regenerator.com
        .col-md-8
          h3 Mapa dojazdu
          .google-map
  section.dont-wait
    h2 Nie czekaj, aż zabraknie terminów!
    p Zapisz się już dziś, aby mieć pewność, że w Twojej grupie znajdzie się wolne miejsce.
    .btn.btn-green-border Zapisz się na kurs