#page-contact
  section.contact-me
    h1.center 
      | Skontaktuj się 
      span.fat bezpośrednio ze mną
    .dark-wrapper
      .btn.btn-green Zapisz się przez Internet
      span.or-call lub zadzwoń
      .phone-no
        img(src='/images/icon-phone.png')
        span +48 606123455
  section.where
    h1.center 
      | Gdzie odbywają się kursy?
    .container
      .row
        .col-md-4
          h3 Dane firmy
          .company-data
            p Bartosz Demiańczuk
            p ul. Leśna 128/23
            p Gdynia
            p.margin telefon: +48606123455
            p email: kontakt@regenerator.com
        .col-md-offset-1.col-md-7
          h3.right Mapa dojazdu
          .google-map
            iframe(width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:EiBMZcWbbmEgMjMsIDgxLTAwMSBHZHluaWEsIFBvbHNrYQ&key=AIzaSyDGpZbroxWXY40-wC-vWTyuEpIDtT6P2vQ" allowfullscreen)
  section.dont-wait
    h2 Nie czekaj, aż zabraknie terminów!
    p Zapisz się już dziś, aby mieć pewność, że w Twojej grupie znajdzie się wolne miejsce.
    .btn.btn-green-border Zapisz się na kurs