#page-home
  section.jumbotron
    .container
      h1 Edukacja matematyczna
      h3.hidden-xs.hidden-sm
        | Moi uczniowie są zadowoleni ponieważ oferuję 
        strong skuteczną naukę 
        br
        |  matematyki  w
        strong  komfortowych 
        |  warunkach i 
        strong konkurencyjnych
        |  cenach.
      h3.hidden-md.hidden-lg
        | Skuteczna 
        strong nauka matematyki 
        br
        |  w komfortowych 
        strong  warunkach 
        | i
        strong  cenach
        | .

      a.btn.btn-green.btn-lg.subscribe.shake(ui-sref='subscribe') Zapisz się na kurs
      .who.hidden-sm.hidden-xs
        .owner Bartosz Demiańczuk
        .subtitle właściciel, nauczyciel matematyki
        .under 
          .small.circle
          .line 
          .big.circle
  section.why-me
    .container-fluid
      .row
        .col-md-6.box.parent
          .box-wrapper
            h3 Drogi rodzicu,
            p Skoro czytasz moją stronę, to przypuszczam, że troszczysz się o swoje dziecko. Na pewno chcesz dla niego tego, co najlepsze, by z sukcesem zdało egzaminy. 
            p Oferuję Ci, że nawiążę kontakt z Twoim dzieckiem, pomogę mu uwierzyć we własne możliwości i wytłumaczę matematykę w taki sposób, który będzie zrozumiały. Do Ciebie należy decyzja czy zechcesz mi zaufać.
            a.btn.btn-lg.btn-green.shake(href='/oferta') Zobacz ofertę
        .col-md-6.box.student
          .box-wrapper
            h3 Drogi uczniu,
            p Matematyka sprawia Ci kłopot? A może chcesz utrwalić wiedzę? 
            p Wiem, że jesteś w stanie sprostać wyzwaniom, które Cię czekają. Jestem od tego, żeby Ci w tym pomóc. Wytłumaczę Ci teorię i nauczę rozwiązywać zadania. Po moich zajęciach pomyślisz: "Dam radę".  
            .btn.btn-lg.btn-blue.shake.subscribe(ui-sref='subscribe') Zapisz się na kurs
  section.my-lectures
    h1.center.fat Moje kursy
    p Wybierz kurs, który Cię interesuje aby dowiedzieć się więcej.
    .container-fluid.courses-list
      .row
        .col-sm-6.left
          a.btn.btn-green-border.shake(ui-sref="pages.offer.highschool") Egzamin gimnazjalny
          a.btn.btn-green-border.shake(ui-sref="pages.offer.secondaryextended") Matura rozszerzona
        .col-sm-6.right
          a.btn.btn-green-border.shake(ui-sref="pages.offer.secondarybasic") Matura podstawowa
          a.btn.btn-green-border.shake(ui-sref="pages.offer.individual") Lekcje indywidualne            
