#page-home
  section.jumbotron
    .container
      h1 Edukacja matematyczna
      h2
        | Moi uczniowie są zadowoleni ponieważ oferuję 
        strong skuteczną naukę 
        |  matematyki 
        br
        |  w
        strong  komfortowych 
        |  warunkach i 
        strong konkurencyjnych
        |  cenach.
      a.btn.btn-green.btn-lg.subscribe.shake(href='#', role='button' ng-click='openSidebar()') Zapisz się na kurs
      .who
        .owner Bartosz Demiańczuk
        .subtitle właściciel, nauczyciel matematyki
        .under 
          .small.circle
          .line 
          .big.circle
  section.why-me
    h1.center.fat Dlaczego ja?
    .container-fluid
      .row
        .col-md-6.box.parent
          .box-wrapper
            h3 Drogi rodzicu,
            p Skoro czytasz moją stronę, to przypuszczam, że martwisz się o swoje dziecko. Na pewno chcesz dla niego tego, co najlepsze, by z sukcesem zdało egzaminy. 
            p Oferuję Ci, że nawiąże kontakt z Twoim dzieckiem, pomogę mu uwierzyć we własne możliwości i wytłumaczę matematykę w taki sposób, który będzie zrozumiały. Wiem jak to zrobić, tym się zajmuję. Do Ciebie należy decyzja czy zechcesz mi zaufać.
            a.btn.btn-lg.btn-green.shake(href='/oferta') Zobacz ofertę
        .col-md-6.box.student
          .box-wrapper
            h3 Drogi uczniu,
            p Matematyka sprawia Ci kłopot? A może chcesz utrwalić wiedzę? 
            p Wiem, że jesteś w stanie sprostać wyzwaniom, które Cię czekają. Jestem od tego, żeby Ci w tym pomóc. Wytłumaczę Ci teorię i nauczę rozwiązywać zadania. Po moich zajęciach pomyślisz: "Dam radę".  
            .btn.btn-lg.btn-blue.shake.subscribe(ng-click='openSidebar()') Zapisz się na kurs
  section.my-lectures
    h1.center.fat Moje kursy
    p Wybierz kurs, który Cię interesuje aby dowiedzieć się więcej.
    .container-fluid.courses-list
      .row
        .col-md-6.left
          a.btn.btn-green-border.shake(href='/oferta/egzamin-gimnazjalny') Egzamin gimnazjalny
          a.btn.btn-green-border.shake(href='/oferta/matura-podstawowa') Matura podstawowa
          a.btn.btn-green-border.shake(href='/oferta/matura-rozszerzona') Matura rozszerzona
        .col-md-6.right
          a.btn.btn-green-border.shake(href='/oferta/student') Student
          a.btn.btn-green-border.shake(href='/oferta/lekcje-indywidualne') Lekcje indywidualne            