doctype html
html
  head
    title= title
    link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet" type="text/css")
    link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic&subset=latin,latin-ext')
    link(rel='stylesheet', href='/style.css')
    != LRScript
    script(type='text/javascript' src='/javascripts/jquery.js') 
    script(type='text/javascript' src='/javascripts/angular.js') 
    script(type='text/javascript' src='/javascripts/angular-ui-router.js') 
    script(type='text/javascript' src='/javascripts/angular-ui-router-extras.js') 
    script(type='text/javascript' src='/javascripts/app.js') 
  body(ng-app='demianczuk' ng-controller='SidebarCtrl')
    .body-wrapper(ng-cloak ng-class="{ 'show-sidebar': sidebar.isOpened() }")
      .side
        a.close-side.cross.close(ui-sref='pages') +
        .container
          .row
            .col-md-12
              h1.fat.center Zapisz się na kurs
              p 
                | Zostaw swój numer telefonu lub email - w ciągu 
                strong jednego dnia 
                | odezwiemy się do Ciebie i przedstawimy aktualny kalendarz zajęć.
              form.form-horizontal
                .form-group.has-success.has-feedback
                  label.col-sm-offset-1.col-sm-4.control-label(for='number') Numer telefonu lub email
                  .col-sm-5
                    input#number.input-lg.form-control(type='email', placeholder='wpisz numer telefonu lub email')
                    span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden="true")
                    p.info Bądź spokojny, nikomu nie udostępnię Twoich danych osobowych.
                .form-group.has-success.has-feedback
                  label.col-sm-offset-1.col-sm-4.control-label(for='lecture') Rodzaj kursu
                  .col-sm-5
                    select#lecture.input-lg.form-control
                      option wybierz rodzaj kursu...
                      option Egzamin gimnazjalny
                      option Matura podstawowa
                      option Matura rozszerzona
                      option Student
                      option Lekcje indywidualne
                    span(class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true")
                .form-group.buttons
                  .col-sm-offset-2.col-sm-4.left
                    .btn.btn-blue Wyślij
                  .col-sm-4.right
                    a.btn.btn-none-blue.close-side(ui-sref='pages') Powrót
              form.form-horizontal
                .form-group.has-success.has-feedback
                  label.control-label.col-sm-3(for='inputSuccess3') Input with success
                  .col-sm-9
                    input#inputSuccess3.form-control(type='text', aria-describedby='inputSuccess3Status')
                    span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
                    span#inputSuccess3Status.sr-only (success)
                .form-group.has-success.has-feedback
                  label.control-label.col-sm-3(for='inputGroupSuccess2') Input group with success
                  .col-sm-9
                    .input-group
                      span.input-group-addon @
                      input#inputGroupSuccess2.form-control(type='text', aria-describedby='inputGroupSuccess2Status')
                    span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
                    span#inputGroupSuccess2Status.sr-only (success)


      .main
        nav.navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Przełącz nawigację
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(ui-sref='pages') 
                img(src='/images/logo-color@2x.png')
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(ui-sref='pages.home') O mnie
                li
                  a(ui-sref='pages.offer') Oferta
                li
                  a(ui-sref='pages.testimonials') Referencje
                li
                  a(ui-sref='pages.contact') Kontakt
        block content
        section.footer
          ul.nav.navbar-nav
            li
              a.logo(ui-sref='pages.home') 
                img(src='/images/logo-bw@2x.png')
            li.link.active
              a(ui-sref='pages.home') O mnie
            li.link
              a(ui-sref='pages.offer') Oferta
            li.link
              a(ui-sref='pages.testimonials') Referencje
            li.link
              a(ui-sref='pages.contact') Kontakt