doctype html
html
  head
    title= title
    link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet" type="text/css")
    link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic&subset=latin,latin-ext')
    link(rel='stylesheet', href='/style.css')
    != LRScript
    script(type='text/javascript' src='/javascripts/jquery.js') 
    script(type='text/javascript' src='/javascripts/angular.js') 
    script(type='text/javascript' src='/javascripts/angular-ui-router.js') 
    script(type='text/javascript' src='/javascripts/angular-ui-router-extras.js') 
    script(type='text/javascript' src='/javascripts/angular-animate.js') 
    script(type='text/javascript' src='/javascripts/angular-show-errors.js') 
    script(type='text/javascript' src='/javascripts/angular-elif.js') 
    script(type='text/javascript' src='/javascripts/angular-sanitize.js') 
    script(type='text/javascript' src='/javascripts/angular-ng-toast.js') 
    script(type='text/javascript' src='/javascripts/angular-validate.js') 
    script(type='text/javascript' src='/javascripts/angular-slugify.js') 
    script(type='text/javascript' src='/javascripts/app.js')
  body(ng-app='demianczuk' ng-controller='SidebarCtrl')
    nav.navbar.navbar-fixed-top(ng-class="{ 'navbar-inverse': sidebar.isDarkNavbar() }")
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Przełącz nawigację
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(ui-sref='pages.home')
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li(ui-sref-active="active")
              a(ui-sref='pages.about') O mnie
            li(ui-sref-active="active")
              a(ui-sref='pages.offer') Oferta
            li(ui-sref-active="active")
              a(ui-sref='pages.testimonials') Referencje
            li(ui-sref-active="active")
              a(ui-sref='pages.contact') Kontakt
            li
              .phone
                img(src='/images/icon-phone.png')
                span +48606123455
    .spinner(ng-class="{ 'on': spinner === true }")
          img(src="/images/preloader.gif")
    toast
    .body-wrapper(ng-cloak ng-class="{ 'show-sidebar': sidebar.isOpened() }")
      .side
        a.close-side.cross.close(ui-sref='pages') +
        .container
          .row
            .col-md-12
              h1.fat.center Masz pytania lub chcesz się zapisać?
              p 
                | Zostaw swój numer telefonu lub email - w ciągu 
                strong jednego dnia 
                | odezwę się do Ciebie i przedstawię aktualny kalendarz zajęć.
              form.form-horizontal(name="subscriptionForm" ng-submit="submitForm(subscriptionForm)" novalidate)
                .form-group.has-feedback(show-errors="{ showSuccess: true }")
                  label.col-sm-offset-1.col-sm-4.control-label(for='number') Numer telefonu lub email
                  .col-sm-5
                    input#subscription-contact.input-lg.form-control(type="text" name='contact' ng-model='subscription.contact' ui-validate="'validateContact($value)'" placeholder='wpisz numer telefonu lub email' required)
                    span.glyphicon.form-control-feedback(aria-hidden="true")
                    p.info.error
                      span(ng-if='subscriptionForm.contact.$valid || (!subscriptionForm.contact.$touched && !subscriptionForm.$submitted)') Bądź spokojny, nikomu nie udostępnię Twoich danych.
                      span(ng-else) Proszę o podanie poprawnego numeru telefonu lub adresu e-mail.
                .form-group.has-feedback(show-errors="{ showSuccess: true }")
                  label.col-sm-offset-1.col-sm-4.control-label(for='lecture') Rodzaj kursu
                  .col-sm-5
                    select.input-lg.form-control(name='type' ng-model='subscription.type' ng-change="checkValidity()" required)
                      option(value="" disabled selected) wybierz rodzaj kursu, który Cię interesuje
                      option(ng-repeat="option in courseOptions" value="{{option}}") {{option}}
                    span.glyphicon.form-control-feedback(aria-hidden="true")
                    p.info.error 
                      span(ng-if='!(subscriptionForm.type.$valid || (!subscriptionForm.type.$touched && !subscriptionForm.$submitted))') Proszę o wybranie rodzaju kursu.
                .form-group.buttons
                  .col-sm-offset-2.col-sm-4.left
                    button.btn.btn-blue(type="submit" ng-disabled="sending")
                      img(src="/images/preloader.gif")
                      span Wyślij
                  .col-sm-4.right
                    a.btn.btn-none-blue.close-side(ui-sref='pages') 
                      | Powrót
                p {{ subscription.error }}

      .main
        block content
        section.footer
          ul.nav.navbar-nav
            li
              a.logo(ui-sref='pages.home') 
                img(src='/images/logo-bw@2x.png')
            li.link(ui-sref-active="active")
              a(ui-sref='pages.about') O mnie
            li.link(ui-sref-active="active")
              a(ui-sref='pages.offer') Oferta
            li.link(ui-sref-active="active")
              a(ui-sref='pages.testimonials') Referencje
            li.link(ui-sref-active="active")
              a(ui-sref='pages.contact') Kontakt
