#page-offer
  section.carousel
    .offer-menu
      a.btn.btn-green-border.shake(ui-sref="pages.offer.highschool" ui-sref-active="active") Egzamin gimnazjalny
      a.btn.btn-green-border.shake(ui-sref="pages.offer.secondarybasic" ui-sref-active="active") Matura podstawowa
      a.btn.btn-green-border.shake(ui-sref="pages.offer.secondaryextended" ui-sref-active="active") Matura rozszerzona
      a.btn.btn-green-border.shake(ui-sref="pages.offer.individual" ui-sref-active="active") Lekcje indywidualne
    .carousel-wrapper
      ui-view.carousel-view
  
  section.bring-friend
    h3 Poleć mnie znajomym i ucz się za darmo
    .stars
      .star
      .star
      .star
    p Przyprowadź znajomego a otrzymasz jedne zajęcia gratis!
