#page-offer
  section.carousel
    .offer-menu
      .btn.btn-green-border(ng-click="") Egzamin gimnazjalny
      .btn.btn-green-border(ng-click="") Matura podstawowa
      .btn.btn-green-border(ng-click="") Matura rozszerzona
      .btn.btn-green-border(ng-click="") Student
      .btn.btn-green-border(ng-click="") Tematy indywidualne
    .carousel-wrapper
      .slide
        h1 
          span.fa.fa-hat
          | Matura podstawowa
        ul
          li grupy do 7 osób
          li przygotowanie do matury podstawowej
          li zdawalność 85%
          li 70 zł za godzinę
        .btn.btn-green Wybierz termin
  
  section.advertisment
    .close
    h3 Poleć mnie znajomym i ucz się za darmo ;-)
    .stars
      .star
      .star
      .star
    p Przyprowadź znajomego a otrzymasz jedne zajęcia gratis!
  
  section.method
    h1.fat.center Metoda nauczania
    p Na przestrzeni lat bazując na własnym doświadczeniu wypracowałem metodę, która daje świetne rezultaty, angażując ucznia i jednocześnie pozwalając mu szybko przyswajać wiedzę. Oparta jest ona na 5 filarach:
    .pillar
      .icon
        img(src="1.png")
      .desc
        h4 Odniesienie sukcesu na każdych zajęciach
        p Lubimy to co nam wychodzi. Dzięki odpowiedniemu doborowi zadań staram się, aby uczeń wychodził z lekcji z doświadczeniem sukcesu i wiary w swoje matematyczne możliwości.
    .pillar
      .icon
        img(src="2.png")
      .desc
        h4 Samodzielna praca
        p O matematyce można czytać, słuchać, matematykę można rozumieć, kiedy ktoś inny rozwiązuje zadania. Jednak matematyki najskuteczniej nauczyć się samodzielnie rozwiązując problemy. Dlatego na zajęciach uczniowie w większości pracują samodzielnie pod moim kierunkiem.
    .pillar
      .icon
        img(src="3.png")
      .desc
        h4 Metody aktywizujące
        p Co dwie głowy to nie jedna. Są to metody, które mają za zadanie usprawnić procesy nauki dzięki współpracy w grupie. 
    .pillar
      .icon
        img(src="4.png")
      .desc
        h4 Pomoce dydaktyczne
        p Modele figur geometrycznych, interaktywne plansze, gry edukacyjne i inne. Problemem w nauce matematyki często bywa jej abstrakcyjność, dlatego zaproponuję swoim uczniom korzystanie z tego co mogą dotknąć, poczuć, a wtedy lepiej zrozumieć.  
    .pillar
      .icon
        img(src="5.png")
      .desc
        h4 Konstruktywny dialog z uczniem.  
        p Uczeń jest dla mnie ważny. On jest istotą moich zajęć. Rozmawiając z nim staram się, aby to czuł. Wiem, że moje słowa mogą podciąć mu skrzydła lub wręcz odwrotnie, pozwolić mu je rozwinąć. Moim zadaniem jest motywować ucznia, by działo się to drugie.

  section.see-testimonials
    h2 No dobrze, ale czy ta metoda na pewno działa?
    p Latwo mówić za siebie - jeśli chcesz się upewnić, że moja metoda działa, zobacz co piszą moi uczniowe oraz ich rodzice.
    .btn.btn-blue-border Zobacz co mówią inni