#page-testimonials(ng-controller="TestimonialCtrl")
  section.header
    h1.center
      | Zobacz co mówią ci,  
      strong którzy mi zaufali
    p.center.joke … i 
      a(ui-sref='subscribe') zapisz się na kurs
  section.testimonials
    .testimonials-list
      .testimonial(ng-repeat="testimonial in testimonials")
        .container
          .row
            .col-md-2
              .image
                img(ng-src="/images/testimonials/{{testimonial.photo || 'no-avatar.jpg'}}")
            .col-md-10
              h2.name {{testimonial.name}}
              h3.position {{testimonial.description}}
              .quote-right
              p.quote {{testimonial.content}}
              .quote-left
      .add-testimonial
        h2
          | Dodaj własną opinię
        p 
          | Jeśli jesteś moim uczniem zapraszam serdecznie do dodania własnej opinii na portalu 
          strong e-korepetycje.net
          | !
        a.btn.btn-green.btn-lg.shake(href='http://www.e-korepetycje.net/bartosz-demianczuk#opinie') Dodaj opinię  
        
  section.profile
    h2.center
      | Moi uczniowie wystawili mi również 
      strong {{stats.opinionCountString}}  
      | na portalu 
      a(href='http://www.e-korepetycje.net/bartosz-demianczuk/matematyka' target='_blank') e-korepetycje.net
    h3.center
      | Średnia ocena:
      strong {{stats.scoreString}}
      .stars
        i.fa(ng-repeat="star in stats.scoreStars track by $index" ng-class="star")
    a.btn.btn-lg.btn-green.shake(href='http://www.e-korepetycje.net/bartosz-demianczuk/matematyka#opinie' target='_blank')
      | Zobacz opinie
  section.dont-wait
    h2 Nie czekaj, aż zabraknie terminów!
    p Zapisz się już dziś, aby mieć pewność, że w Twojej grupie znajdzie się wolne miejsce.
    a.btn.btn-blue-border.shake(ui-sref='subscribe') Zapisz się na kurs  
