#page-testimonials
  section.header
    h1.center
      | Posłuchaj, co mówią zadowoleni 
      strong uczniowie 
      br
      | i ich 
      strong rodzice
    p.center.joke … i zapisz się na kurs, aby do nich dołączyć ;-)
  section.testimonials
    .testimonials-list
      .testimonial.even
        .container
          .row
            .col-md-2
              .image
            .col-md-10
              h2.name Jerzy Jodel
              h3.position programista, 57 lat
              p.quote Bartek jest świetnym nauczycielem z prawdziwą pasją do tego co robi. Jest pełen empatii i zrozumienia - kiedyś nawet chciał zostać muzykiem. ;-) Serdecznie polecam!
      .testimonial.odd
        .container
          .row
            .col-md-2
              .image
            .col-md-10
              h2.name Joanna Jodel
              h3.position nauczyciel matematyki, 57 lat
              p.quote Pan Demiańczuk już jako uczeń wykazywał się zdolnością i pracowitością - nie to co mój Wojtuś... Znam go od lat i mogę ręczyć, że zrobi wszystko, co w jego mocy, aby przygotować Państwa dziecko do egzaminów najlepiej, jak potrafi.  
      .show-me-more
        .btn.btn-green-border Pokaż więcej opinii
  section.dont-wait
    h2 Nie czekaj, aż zabraknie terminów!
    p Zapisz się już dziś, aby mieć pewność, że w Twojej grupie znajdzie się wolne miejsce.
    .btn.btn-green-border Zapisz się na kurs      
