#page-about {
  section.few-words {
    background-color: $darker;
    color: $white;
    padding-top: 5 * $baseline-size;
    padding-bottom: 5 * $baseline-size;

    h1 {
      margin-bottom: 4 * $baseline-size;
    }

    .wrapper {
      margin: 0 auto;
      max-width: 1200px;

      ul li {
        margin-bottom: $baseline-size;
      }
    }
  }

  section.method {
    padding-top: 5 * $baseline-size;
    padding-bottom: 4 * $baseline-size;

    h1 {
      margin-bottom: 4 * $baseline-size;
    }

    h4 {
      font-size: $font-normal-header;
      font-weight: $font-weight-black;
      line-height: 2 * $baseline-size;
      text-align: left;
    }

    p {
      text-align: left;
    }

    .pillar {
      max-width: 880px;
      margin-bottom: 1.5em;

      &.big-margin {
        margin-bottom: 3em;
      }

      .col-md-1 {
        padding: 0px;
      }
    }
  }

  section.see-testimonials {
    background-color: $piss-yellow;
    padding-top: 4 * $baseline-size;
    padding-bottom: 3 * $baseline-size;
    text-align: center;

    h2 {
      margin-top: 0px;
      font-weight: $font-weight-black;
    }

    .btn {
      padding: 1.5 * $baseline-size 2.5 * $baseline-size;
      margin-top: 1 * $baseline-size;
      border-width: 5px;
      border-radius: 6px;
    }
  }
}
