.carousel-view {
  &.ng-enter, &.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
  }

  &.ng-enter {
    @include transition(all 0.7s ease 0s);
  }

  &.ng-leave {
    @include transition(all 0.7s ease 0s);
  }

  &.ng-enter {
    opacity: 0;
    @include transform(translate(300px, 0px));
  }

  &.ng-enter-active {
    opacity: 1;
    @include transform(translate(0px, 0px));
  }

  &.ng-leave {
    opacity: 1;
    @include transform(translate(0px, 0px));
  }

  &.ng-leave-active {
    opacity: 0;
    @include transform(translate(-300px, 0px));
  }
}

#page-offer {
  section.carousel {
    background-color: $darker;
    padding-top: 4 * $baseline-size;
    color: $white;

    .offer-menu {
      text-align: center;

      .btn {
        width: 240px;
        padding: 1 * $baseline-size 2 * $baseline-size;
        margin: 12px 24px;
        border-width: 5px;
        border-radius: 6px;
        font-size: $font-small-paragraph;
      }

      .btn-green-border {
          color: $white;
          border-color: transparent;
          background-color: transparent;

        &:hover {
          color: $darkest;
          border-color: $piss-yellow;
          background-color: $piss-yellow;
        }

        &:hover:active {
          color: $darkest;
          border-color: darken($piss-yellow, 4%);
          background-color: darken($piss-yellow, 4%);
        }

        &.active {
          border-color: $piss-yellow;
        }
      }
    }

    .carousel-wrapper {
      min-height: 29 * $baseline-size;
    }

    .carousel-wrapper .slide {
      text-align: center;
      padding-top: 4 * $baseline-size;
      padding-bottom: 8 * $baseline-size;

      h2 {
        color: $sickly-yellow;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
        margin-bottom: 4 * $baseline-size;
      }

      ul {
        padding-top: 5px;
        margin-bottom: 0em;
        vertical-align: top;

        li {
        }
      }

      .price-wrapper {
        display: inline-block;

        .price {
          font-size: $font-hero-header;
          font-weight: $font-weight-black;
        }

        .hour {
          font-size: $font-big-header;
          font-weight: normal;
        }
      }

      .btn.btn-green {
        margin-top: 2 * $baseline-size;
        vertical-align: bottom;
        padding: 1.5 * $baseline-size 3.5 * $baseline-size;
        margin-left: 60px;
        margin-right: 60px;
      }
    }
  }

  section.bring-friend {
    background-color: $piss-yellow;
    padding-top: 4 * $baseline-size;
    padding-bottom: 3 * $baseline-size;

    h3 {
      margin-top: 0px;
      font-weight: 700;
      text-align: center;
    }

    .stars {
      text-align: center;

      .star {
        text-align: center;
        margin: 12px 3px;
        width: 17px;
        height: 17px;
        background-image: url('/images/icon-star.png');
        display: inline-block;
      }
    }

    p {
      text-align: center;
    }
  }
}
