#page-testimonials {
  section.header {
    background-color: $darkest;
    padding-top: 5 * $baseline-size;
    padding-bottom: 5 * $baseline-size;

    h1 {
      color: white;
      margin-top: 0px;
      margin-bottom: 2 * $baseline-size;

      strong {
        font-weight: $font-weight-black;
      }
    }

    .joke {
      color: white;
      opacity: 0.7;
      font-size: $font-normal-paragraph;

      a {
        color: $sickly-yellow;

        &:hover, &:focus, &:active {
          color: $sickly-yellow;
        }
      }
    }
  }

  section.testimonials {
    background-color: $white;

    .testimonial {
      padding-top: 4 * $baseline-size;
      padding-bottom: 3 * $baseline-size;
      color: $dark-muted;

      .image {
        background-color: $white;
        width: 150px;
        height: 150px;
        border-radius: 250px;
        border: 0px solid $sickly-yellow;
        overflow: hidden;

        img {
          width: 150px;
          height: auto;
          display: inline-block;
          text-align: center;
          vertical-align: bottom;
        }
      }

      @media (max-width: $screen-sm-max) {
        text-align: center;

        .image {
          text-align: center;
          margin: 0 auto 20px;

          img {
            text-align: center;
            margin-bottom: 15px;
          }
        }
      }

      h2 {
        font-weight: 800;
        color: $darkest;
        margin-bottom: 0px;
      }

      h3 {
        font-size: $font-normal-paragraph;
        color: saturate(darken($sickly-yellow, 17%), 50%);
        margin-top: 0 * $baseline-size;
      }

      p.quote {
        color: desaturate(lighten($darkest, 20%), 20%);
        margin-top: 1 * $baseline-size;
        margin-bottom: 1 * $baseline-size;
      }

      .quote-left {
        width: 36px;
        height: 26px;
        background-repeat: no-repeat;
        background-image: url('/images/quote.png');
        margin-left: -60px;

        @media (max-width: $screen-sm-max) {
          margin-left: 0px;
        }
      }

      .quote-right {
        background-repeat: no-repeat;
        background-position: right;
        width: 100%;
        height: 26px;
        background-image: url('/images/quote.png');
        margin-right: -20px;

        @media (max-width: $screen-sm-max) {
          margin-right: 0px;
        }
      }

      &.even {
        background-color: darken( $white, 3%);
      }

      &.odd {
        background-color: darken( $white, 5%);

        .quote-left, .quote-right {
          background-image: url('/images/quote-odd.png');
        }
      }
    }
  }

  section.dont-wait {
    background-color: $darkest;
    padding-top: 5 * $baseline-size;
    padding-bottom: 1 * $baseline-size;
    text-align: center;
    color: $white;

    h2 {
      margin-top: 0px;
      margin-bottom: 2 * $baseline-size;
      font-weight: $font-weight-black;
    }

    .p-wrapper {
      margin: 0 auto;
      max-width: 500px;
    }

    .btn {
      padding: 24px 44px;
      margin: 30px 24px;
      border-width: 5px;
      border-radius: 6px;
    }
  }
}
