.slide
  .slider-inner
    h2
      span.fa.fa-hat
      | Egzaminy gimnazjalny
    ul.dotted
      li Grupy 2- 4 osobowe
      li Powtórka całego materiału z gimnazjum 
      li Rozwiązywanie zadań egzaminacyjnych
      li Metody wspierające proces uczenia się
    .price-wrapper
      .price-tag
        span.price 25 zł 
        span.hour / h
      .btn.btn-green(ui-sref='subscribe') Wybierz termin
