.slide
  .slider-inner
    h2
      span.fa.fa-hat
      | Egzaminy gimnazjalny
    ul.dotted
      li Grupy maksymalnie 8-osobowe
      li Powtórka całego materiału z gimnazjum 
      li Rozwiązywanie zadań egzaminacyjnych
      li Metody wspierające proces uczenia się
    .price-wrapper
      .price-tag
        span.price 50 zł 
        span.hour / zajęcia
      .price-time
        span czas: 
        span.time 1h 45 min
      .price-explaination 
        span 21zł / 45 min 
      .btn.btn-green(ui-sref='subscribe') Wybierz termin
