.slide
  .slider-inner
    h2
      span.fa.fa-trophy
      | Matura rozszerzona
    ul.dotted
      li Grupy maksymalnie 8-osobowe
      li Nauka możliwa w grupach dla klas pierwszych, drugich lub trzecich
      li Powtórka całego materiału z liceum 
      li Rozwiązywanie zadań egzaminacyjnych
      li Metody wspierające proces uczenia się
    .price-wrapper
      .price-tag
        span.price 70 zł 
        span.hour / zajęcia
      .price-time
        span czas: 
        span.time 2h 15 min
      .price-explaination 
        span 23zł / 45 min 
      .btn.btn-green(ui-sref='subscribe') Wybierz termin
