.slide
  h1 
    span.fa.fa-hat
    | Matura rozszerzona
  ul
    li Grupy 2- 4 osobowe
    li Nauka możliwa w grupach dla klas pierwszych, drugich lub trzecich
    li Powtórka całego materiału z liceum 
    li Rozwiązywanie zadań egzaminacyjnych
    li Metody wspierające proces uczenia się
  .price-wrapper
    .price-tag
      span.price 25 zł 
      span.hour / h
    .btn.btn-green(ui-sref='subscribe') Wybierz termin